chainer==7.8.0
editdistance==0.5.3
fst==0.0.2
kenlm==0.0.0
librosa==0.8.0
matplotlib==2.1.1
numpy==1.25.2
picklable_itertools==0.1.1
progressbar33==2.4
psutil==5.8.0
python_speech_features==0.6
PyYAML==6.0
scipy==0.19.1
six==1.11.0
toposort==1.6
torch==1.7.1
torch_complex==0.2.1
torchaudio==0.7.2
tqdm==4.61.0
typeguard==2.13.3
warpctc_pytorch==0.2.1
tabulate=0.8.9
